<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spin Spinner Spinnest!</title>

    
    <!--link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"-->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Calculopolis</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="/cr">Chain Rule</a>
                <a class="nav-link" href="/imf">Implicit Differentiation</a>
                <a class="nav-link" href="/coa">Contextual Applications</a>
                <a class="nav-link" href="/index2">About Us</a>
              </nav>
            </div>
          </header>
          <main role="main" class="inner cover">
            <h1 class="cover-heading">About Us</h1>
            <p class="lead">Welcome to Calculopolis! The site where you will become an absolute pro in the topics of chain rule and implicit differentiation. Before starting on your adventure, we need you to complete the diagnostic test below, just to make sure you are ready to hop on to this amazing learning pathway!</p>
            <br><br><br>
            <h1 class="cover-heading">Diagnostic Test</h1>
            <p class="lead">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSff5l2XoJvOL4TRbGR82VfWBjYoPAbpcFAOseQtq44RQr1vCQ/formrestricted" class="btn btn-lg btn-secondary">GO TO TEST</a>
            </p>
          </main>
          <footer class="mastfoot">
          </footer>
        </div>
      </div>
    </div>

    <div class="chatbubble">
      <input type="checkbox" id="click">
      <label for="click">
        <i class="fab fa-facebook-messenger"></i>
        <i class="fas fa-times"></i>
      </label>
      <div class="wrapper chat-window">
        <div class="head-text ">Lovita - <small class="connecting_status">Offline</small></div>
        <div class="chat-box login-screen container">
          <div class="desc-text ">Please fill out the form below to start chatting with Lovita chatbot.</div>     
          <form action="#" id="loginScreenForm">
            <div class="field form-group">
              <input type="text" class="form-control nickname" id="nickname" placeholder="Your Name" required>
            </div>
            <div class="field">
              <button type="submit" class="btn btn-block btn-primary change_nickname">Start Chat</button>
            </div>
          </form>
        </div>

        <div class="chats" >
          <div class="loader-wrapper">
            <div class="loader">
              <span>{</span><span>}</span>
            </div>
          </div>
          <ul class="messages clearfix">
          </ul>
          <div class="input">
            <form action="#" class="form-inline" id="messageSupport">
              <div class="form-group">
                <input type="text" class="form-control" id="newMessage" placeholder="Enter Message">
              </div>
                <button type="submit" class="btn btn-block btn-primary send_message" id="send_message">Send</button>
            </form>
          </div>
        </div>

      </div>
    </div>
    
    <!--script src="{{ url_for('static', filename='bower_components/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app2.js') }}"></script-->
    <!--script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script type="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="{{ url_for('static', filename='js/popper.js') }}"></script>
	  <script type="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	  <script type="{{ url_for('static', filename='js/axios.js') }}"></script-->


      <script type="text/javascript" src="static/js/jquery.js"></script>
      <script type="text/javascript" src="static/js/popper.js"></script>
      <script type="text/javascript" src="static/js/bootstrap.js"></script>
      <script type="text/javascript" src="static/js/axios.js"></script>
      <script type="text/javascript" src="static/js/app.js"></script>

    <script>
      

      var nickname = $('.nickname').val();
      var ws = new WebSocket('ws://' + window.location.hostname +':5000/chat');

      ws.onopen = function () { $('.connecting_status').text('Online'); }
      ws.onclose = function () { $('.connecting_status').text('Offline'); }
      

      ws.onmessage = function(msg_event) {
          var data = $.parseJSON(msg_event.data);

          if (data.msg_type == 'message') {
              /*$('.message_pane').append(
                  '<dl>' +
                      '<dt>' + data.nickname + '</dt>' +
                      '<dd>' + data.message + '</dd>' +
                  '</dl>'
              );*/
              //console.log("222")
          }
          else if (data.msg_type == 'update_clients') {
              $('.connected_clients li').remove();

              data.clients.forEach(function(nick) {
                  $('.connected_clients').append('<li>' + nick);

              });
          }
          if (data.msg_type == 'botanswer') {
            console.log(data.nickname, ' ---- ', data.message )
              
              $('ul.messages').append(
                      `<li class="clearfix message support">
                          <div class="sender">${data.nickname}</div>
                          <div class="message">${data.message}</div>
                      </li>`
                  )

          }
      }

      setInterval(function() {
          ws.send(JSON.stringify({
              msg_type: 'update_clients',
              nickname: nickname
          }));
      }, 2000);

      $('#newMessage').keypress(function(e) {
          if (e.which === 13) {
              $('#send_message').click();
          }
      });

      $('#send_message').click(function() {
          ws.send(JSON.stringify({
              msg_type: 'message',
              nickname: nickname,
              message: $('#newMessage').val()
          }));
      });

      $('.change_nickname').click(function() {
          nickname = $('.nickname').val();
          //$('.chats').show()
          //$('.login-screen').hide()
      });
  </script>

    <!--div class="chatbubble">
        <div class="unexpanded">
            <div class="title">Chat with Support</div>
        </div>
        <div class="expanded chat-window">
          <div class="login-screen container">
            <form id="loginScreenForm">
              <div class="form-group">
                <input type="text" class="form-control" id="fullname" placeholder="Name*" required>
              </div>
              <button type="submit" class="btn btn-block btn-primary">Start Chat</button>
            </form>
          </div>
          <div class="chats">
            <div class="loader-wrapper">
              <div class="loader">
                <span>{</span><span>}</span>
              </div>
            </div>
            <ul class="messages clearfix">
            </ul>
            <div class="input">
              <form class="form-inline" id="messageSupport">
                <div class="form-group">
                  <input type="text" autocomplete="off" class="form-control" id="newMessage" placeholder="Enter Message">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
    </div-->    
    <!--script src="https://js.pusher.com/4.0/pusher.min.js"></script-->
    <!--script type="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="{{ url_for('static', filename='js/popper.js') }}"></script>
	  <script type="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	  <script type="{{ url_for('static', filename='js/axios.js') }}"></script>
    <script type="{{ url_for('static', filename='js/app.js') }}"></script-->
  </body>
</html>